/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.gitignore
inspectionProfiles/
workspace.xml
/.idea
.idea/dataSources.local.xml
.DS_Store
Modules/.DS_Store
Modules/Admin/.DS_Store
Modules/Admin/Resources/.DS_Store
Modules/Admin/Resources/views/.DS_Store
app/.DS_Store
bootstrap/cache
